{%- set metaTitle -%}
    {%- if not title -%}{{ site.title }} - {{ site.description | safe }}
    {%- else -%}{{ title | safe }} | {{ site.title }}
    {%- endif -%}
{%- endset -%}
{%- set metaDesc -%}
    {%- if not description -%}{{ site.description | safe }}
    {%- else -%}{{ description | safe }}
    {%- endif -%}
{%- endset -%}
{%- set metaKeywords -%}
    {%- if tags -%}{%- for tag in tags -%}{{ tag }},{%- endfor -%}{%- endif -%}
    {%- if site.keywords -%}
        {%- for keyword in site.keywords -%}
            {{ keyword }}{%- if not loop.last %},{% endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endset -%}
<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ metaTitle }}</title>
    <meta name="title" content="{{ metaTitle }}">
    <meta name="description" content="{{ metaDesc }}">
    <meta name="keywords" content="{{ metaKeywords }}">
    <meta name="author" content="{{ author.name }}">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ site.url | url }}{{ page.url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png"  sizes="32x32" href="{{ 'favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | url }}">
    <link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | url }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{{ '/site.css' | url }}">
    <script defer src="/assets/js/alpine.js"></script>
    <script src="/assets/js/order.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
       <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BK3JXWRQF1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BK3JXWRQF1');

        // Track time spent on page
        let startTime = new Date();
        window.addEventListener('beforeunload', function() {
            let endTime = new Date();
            let timeSpent = (endTime - startTime) / 1000; // in seconds
            gtag('event', 'time_spent', {
                'event_category': 'Engagement',
                'event_label': 'Order Page',
                'value': timeSpent
                });
        });
    </script>

    <!-- Meta Pixel Base Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    </script>
    <noscript><img eleventy:ignore height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1064819841680904&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Base Code -->

    <!-- CryptoJS for tracking -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
    
    <!-- Custom tracking script -->
    <script src="/assets/js/tracking.js"></script>
    <meta name="facebook-domain-verification" content="p6g8tgfil0d8mmlmkog2xmysmgn9yi" />
</head>	

<body class="flex flex-col h-screen bg-dondonwhite text-dondonblue break-words overflow-x-hidden">
    {% include "partials/header.njk" %}
    <main class="mx-4 lg:mx-6 mt-12 flex-grow">
        {% if layout === "post" %}
        {{ content | safe }}
        {% else %}
        <div class="max-w-5xl mx-auto">
            {{ content | safe }}
        </div>
        {% endif %}
    </main>
    {% include "partials/footer.njk" %}
</body>

</html>