<footer class="mt-32 py-4 flex-none bg-zinc-900 dark:bg-zinc-950">
    <div class="max-w-5xl font-light text-xs mx-auto text-slate-50 text-center">
        ©2024
        <a href="/" class="font-medium" target="_blank" rel="noopener">DonDonDonuts</a>. All Rights Reserved.</div>
</footer>